.chat{
  align-self: auto;
  overflow-y: scroll;
  max-width: 300px;
  height: calc(100vh - 100px);
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.chat-parent{
  background: rgb(14, 12, 19);
  border-color: rgb(44, 37, 65);
  border-width: 1px;
  border-style: solid;
  height: calc(100vh - 50px);
}

.chat-message{
  padding: 4px;
}

.chat-text{
  color: white;
}

.chat-highlight{
  background-color: #302e35;
}

.chat-username{
  font-weight: 700;
}

.chat-subscriber{
  padding: 2px;
}

.chat-input{
  background-color: rgb(14, 12, 19);
  border-color: rgb(44, 37, 65);
  border-width: 1px;
  border-style: solid;
  width: 250px;
  margin: auto;
  padding: 4px;
}